@media(min-width: 300px){
    .grilla-index{
        display: grid;
        grid-template-areas: 
                "header"
                "mainIndex"
                "footer";
        main{
            background: url('../img/index/fondoIndex.jpg') #a7a7a7;
            background-position: top center;
            background-size: cover;
            grid-area: mainIndex;
            padding-top: 7rem;
            .main-index__grilla{
                display: grid;
                column-gap: 2rem;
                row-gap: 5rem;
                grid-template-areas:
                "titulo" 
                "sinopsis"
                "serpiente"
                "demo"
                "fotoPose";
                justify-content: center;
                justify-items: center;
                .titulo-index{
                    grid-area: titulo;
                    h1{
                        @include titulos(white, 3rem, 0);
                    }
                }
                .sinopsis{
                    grid-area: sinopsis;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 22rem;
                    img{
                        width: 16rem;
                        margin-bottom: 3rem; 
                    }
                    p{
                        @include parrafo(1.4rem);
                        color: $pColor;
                    }
                }
                .serpiente{
                    margin-top: 1rem;
                    grid-area: serpiente;
                }
                .demo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 1rem;
                    img{
                        width: 10rem;
                        margin-bottom: 3rem;
                    }
                    iframe{
                        width: 22rem; 
                        height: 12rem;
                        box-shadow: 10px 5px 8px 0px rgba(0, 0, 0, 0.26);
                        -webkit-box-shadow: 10px 5px 8px 0px rgba(0, 0, 0, 0.26);
                        -moz-box-shadow: 10px 5px 8px 0px rgba(0, 0, 0, 0.26);
                    }
                }
                .fotoPose{
                    margin-top: 1rem;
                    grid-area: fotoPose;
                    align-self: flex-end;
                }
            }
        }
    }
}

@media(min-width: 400px){
    .grilla-index{
        main{
            .main-index__grilla{
                .titulo-index{
                    h1{
                        @include titulos(white, 3.5rem, 0)
                    }
                }
                .sinopsis{
                    width: 32rem;
                    img{
                        width: 18rem;
                    }
                    p{
                        @include parrafo(1.6rem)
                    }
                }
                .demo{
                    img{
                        width: 11rem;
                    }
                    iframe{
                        width: 32rem; 
                        height: 18rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 500px){
    .grilla-index{
        main{
            .main-index__grilla{
                .titulo-index{
                    h1{
                        @include titulos(white, 4rem, 0)
                    }
                }
                .sinopsis{
                    align-items: flex-start;
                    width: 40rem;
                    img{
                        width: 20rem;
                    }
                    p{
                        @include parrafo(1.7rem)
                    }
                }
                .demo{
                    align-items: flex-start;
                    img{
                        width: 12rem;
                    }
                    iframe{
                        width: 40rem; 
                        height: 22rem;
                    }
                }
            }
        }
    }
}

@media(min-width:768px){
    .grilla-index{
        main{
            .main-index__grilla{
                grid-template-areas: 
                "titulo titulo"
                "sinopsis sinopsis"
                "demo serpiente"
                "fotoPose fotoPose";
                .sinopsis{
                    width: 60rem;
                    img{
                        width: 22rem;
                    }
                }
                .serpiente{
                    margin: 0;
                    align-self: end;
                }
                .demo{
                    margin-bottom: 0.5rem;
                    align-self: end;
                    img{
                        width: 13rem;
                    }
                }
                .fotoPose{
                    margin: 0rem;
                }
            }
        }
    }
}

@media(min-width: 1024px){
    .grilla-index{
        main{
            .main-index__grilla{
                grid-template-areas: 
                "titulo titulo"
                "sinopsis serpiente"
                "fotoPose demo";
                .sinopsis{
                    width: 50rem;
                }
                .demo{
                    margin: 0;
                    align-self: center;
                    img{
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}



